[submodule ".config/emacsdir/doomemacs"]
	path = .config/emacsdir/doomemacs
	url = https://github.com/doomemacs/doomemacs
[submodule ".config/doom"]
	path = .config/doom
	url = https://github.com/FikriRNurhidayat/doom-emacs
[submodule ".local/emacsdir/doomemacs"]
	path = .local/emacsdir/doomemacs
	url = https://github.com/doomemacs/doomemacs
