[submodule ".config/emacs"]
	path = .config/emacs
	url = https://github.com/doomemacs/doomemacs
[submodule ".config/doom"]
	path = .config/doom
	url = git@github.com:fikrirnurhidayat/doom-emacs
[submodule ".local/share/emacsdir/doomemacs"]
	url = https://github.com/doomemacs/doomemacs
