#*#
~*~
*~
*#

.local/share/applications/
.local/
!.config/gtk-2.0/
!.config/gtk-3.0/
!.config/fontconfig/
!.config/gresemacs/
!.config/oomoox/
!.config/environment
!.config/wal/
!.config/zathura/
!.config/dunst/
.config/