! XFT
Xft.antialias:	1
Xft.hinting:	1
Xft.autohint:	0
Xft.hintstyle:	hintslight
Xft.rgba:	rgb
Xft.lcdfilter:	lcddefault

! dmenu
dmenu.font: Iosevka Fixed Extended:style=bold:hinting=true:antialias=true:size=11
dmenu.center: 1
dmenu.vertpad: 16

! st
st.font: Iosevka Term Extended:style=bold:hinting=true:antialias=true:size=11
st.borderpx: 24

! sent
sent.font: Iosevka Extended:style=bold:hinting=true:antialias:true, Symbols Nerd Font:antialias=true:hinting=true
