@import "colors.css";

* {
    font-family: Iosevka Etoile, Symbols Nerd Font, monospace;
    font-size: 14px;
    font-weight: bold;
}

window#waybar {
    background-color: transparent;
    color: @text;
}

#workspaces button {
    padding: 0 1rem;
    background-color: transparent;
    color: @overlay0;
}

#workspaces button:hover {
    color: @text;
}

#workspaces button.focused, #workspaces button.active  {
    color: @text;
}

#workspaces button.urgent {
    color: @red;
}

@keyframes blink {
    to {
        color: @red;
    }
}

#battery {
    padding: 0 4px;
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disconnected {
    color: @red;
}

#clock.week {
    padding-right: 2rem;
}

#tray {
    padding-right: 2rem;
}
