@import url("./color.css");

* {
  font-family: JetBrains Mono, Symbols Nerd Font Mono, Sarasa Mono, monospace;
  font-size: 10pt;
  font-weight: bold;
}

button {
    box-shadow: none;
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

window#waybar {
  background-color: @background;
  color: @foreground;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#workspaces button {
  color: @foreground;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 10pt;
  margin-right: 10pt;
}

#workspaces button.empty {
  color: @muted;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

#workspaces button.visible {
  color: @foreground;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

#workspaces button.active {
  color: @foreground;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

#workspaces button:hover {
  color: @foreground;
  background: none;
  border: none;
  outline: none;
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.focused {
  color: @foreground;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

#workspaces button.urgent {
  color: @foreground;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

#tray,
#clock,
#network {
  margin-right: 32pt;
}
