@import ".config/wofi/colors.css";

* {
    font-family: Iosevka Extended;
    font-size: 14px;
    font-weight: bold;    
}

*:focus {
    outline: none;
}

#window {
    background: @base;
    margin: auto;
    padding: 1rem;
}

#input {
    background-color: @crust;
    color: @text;
    border-radius: 0;
    padding: 1rem;
    outline: none !important;
    outline-width: 0;
}

#input:focus {
    border: 1pt solid @text;
    color: @text;
    border-radius: 0;
    outline: none !important;
    outline-width: 0;
}


#img {
    margin-right: 1rem;
}

#entry {
    padding: 1rem;
    color: @text;
    background: none;
}

#outer-box {
    border-radius: 1rem;
}

#entry:selected {
    color: @red;
    border: none !important;
}

#text {
    color: @text;
    padding: 1rem;
}

#text:selected {
    color: @red;
    border: none !important;
    border-radius: 1rem;
}
