* {
  font-family: JetBrains Sans, sans-serif;
  font-size: 10pt;
  background: none;
  box-shadow: none;
  border-radius: 0;
}

#window {
  min-height: 100%;
}

#input {
  background: rgba(40, 40, 40, 0.69);
  padding: 1rem;
  outline: none !important;
  font-weight: 500;
}

#input:focus {
  border: none;
  outline: none !important;
}


#img {
  margin-right: 1rem;
}

#entry {
  background: rgba(40, 40, 40, 0.69);
  color: rgba(235, 219, 178, 0.1);
  padding: 1rem;
  outline: none !important;
  box-shadow: none;
}

#inner-box,
#outer-box {}

#entry:selected {
  border: none !important;
  outline: none !important;
  color: rgba(235, 219, 178, 0.4);
}

#text,
#text:selected {
  border: none;
  outline: none;
  box-shadow: none;
}
