* {
  foreground: #fff;
  background: #000;

  background-color: @background;
  text-color: @foreground;
}

window {
  background-color: @background;
  border: none;
  width: 500;
}

mainbox {
  padding: 0;
  border: 2px solid;
  border-color: @foreground;
}

element-text {
  padding: 8;
}

element-text selected.normal,
element-text selected.urgent {
  text-color: @background;
  background-color: @foreground;
}

entry {
  padding: 8;
  spacing: 0;
}

inputbar {
  children:
    [ prompt,
    textbox-prompt-colon,
    entry,
    case-indicator];
}

scrollbar {
  width: 0;
  border: 0;
  handle-width: 0;
  padding: 0;
}

prompt {
  padding: 8;
  spacing: 0;
  text-color: @foreground;
  background-color: @background;
}

inputbar {
  children: [prompt, entry];
}
